.btn
	background-color $Azul
	border none
	border-radius 0
	padding 0.7rem 2rem
	display inline-block
	vertical-align top
	transitionBase(0.3s)
	
	&:active, &:focus
		outline 0
		
	&:hover
		background-color $Rojo
		

	i
		color $Amarillo