$Amarillo  = #fff200
$Azul      = #1356c4
$Rojo      = #ec1c24


//Fonts
$FontStack = 'Varela Round', sans-serif
$Icons     = 'Glyphicons Halflings'

//Font weights
$Bold      = 700
$Light     = 300
$Normal    = 400


//Site grid spacing and width
$Gutter    = 0.5rem
$SiteWidth = 110rem
